<h4 class='ui top attached header'>Geometry</h4>
<div class='ui fluid bottom attached segment'>

  <div class='field'>
    <div class='field'>
      {{ geometry.pore_seed.label }}
      {{ geometry.pore_seed(**{'class_': 'ui dropdown', 'bind-event-change': 'onChange(this)'}) }}
    </div>
  </div>
  <div class='field' bind-show='query["geometry-pore_seed"] === "correlated"'>
    {{ geometry.correlation_distances.label }}
    <div class='three fields'>
      <div class='field' bind-class='{error: evaluateError(this)}'>
        {{ geometry.correlation_distances.lx(**{'bind-event-change': 'onChange(this)',
                                                'placeholder': geometry.correlation_distances.lx.label.text}) }}
      </div>

      <div class='field' bind-class='{error: evaluateError(this)}'>
        {{ geometry.correlation_distances.ly(**{'bind-event-change': 'onChange(this)',
                                                'placeholder': geometry.correlation_distances.ly.label.text}) }}
      </div>

      <div class='field' bind-class='{error: evaluateError(this)}'>
        {{ geometry.correlation_distances.lz(**{'bind-event-change': 'onChange(this)',
                                                'placeholder': geometry.correlation_distances.lz.label.text}) }}
      </div>
    </div>
  </div>

  <div class='field'>
    <div class='field'>
      {{ geometry.throat_seed.label }}
      {{ geometry.throat_seed(**{'class_': 'ui dropdown', 'bind': 'onChange(this)'}) }}
    </div>
  </div>
</div>
