<h4 class='ui top attached header'>Phase</h4>
<div class='ui fluid bottom attached segment'>
  <div class='two fields'>
    <div class='field'>
      {{ phase.surface_tension.label }}
      <div class='ui right labeled input'>
        {{ phase.surface_tension(bind='phase.surfaceTension') }}
        <div class='ui label'>N/m</div>
      </div>
    </div>
    <div class='field'>
      {{ phase.contact_angle.label }}
      <div class='ui right labeled input'>
        {{ phase.contact_angle(bind='phase.contactAngle') }}
        <div class='ui label'>degrees</div>
      </div>
    </div>
  </div>
</div>
